name: bump-version
on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: Version to bump
        required: true
        options:
          - patch
          - minor
          - major
jobs:
  bump:
    runs-on: ubuntu-22.04
    steps:
      - name: Create App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.CI_APP_ID }}
          private-key: ${{ secrets.CI_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Downloading bump version script
        run: |
          curl -L ${{ vars.BUMP_VERSION_URL }} -o bump-version.sh
          chmod +x bump-version.sh
      - name: Setting git config
        run: |
          git config user.email "development+github@freedom.tm"
          git config user.name "Freedom CI/CD"
      - name: Bumping version
        run: ./bump-version.sh ${{ inputs.version }}
